<% content_for :page_title do %>
   <%= Spree.t("static_content.static_pages") %> <i class="icon-arrow-right"></i> <%= Spree.t("static_content.new_menu") %>
<% end %>

<% content_for :menu_actions do %>
  <li><%= button_link_to Spree.t(:back_to_static_menus_list), spree.admin_menus_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @menu %>

<%= form_for [:admin, @menu] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
