<div class="row">
  <div class="alpha ten columns">
    <%= f.field_container :spree_menu_id do %>
      <%= f.label :spree_menu_id, 'Menu' %><br />
      <%= f.collection_select :spree_menu_id, Spree::Menu.all, :id, :title, include_blank: '- No menu -' %>
      <%= f.error_message_on :parent_id %>
    <% end %>

    <% if f.object.spree_menu_id %>
      <%= f.field_container :parent_id do %>
        <%= f.label :parent_id, 'Parent' %><br />
        <%= f.select :parent_id, options_for_select(f.object.menu.options_for_select(f.object.id), f.object.parent_id), include_blank: '- None (root level) -' %>
        <%= f.error_message_on :parent_id %>
      <% end %>
    <% end %>

    <%= f.field_container :position do %>
      <%= f.label :position %><br />
      <%= f.number_field :position, :min => 0 %>
      <span class="info">This will auto-populate if left blank</span>
    <% end %>

    <hr />

    <%= f.field_container :title do %>
      <%= f.label :title %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'fullwidth title' %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :slug do %>
      <%= f.label :slug %> <span class="required">*</span><br />
      <%= f.text_field :slug, :class => 'fullwidth title' %>
      <%= f.error_message_on :slug %>
      <% if f.object.new_record? %>
        <span class="info">Leave blank to auto-populate from the <strong>Menu Item Title</strong> or <strong>Title</strong>.</span>
      <% end %>
    <% end %>

    <%= f.field_container :body do %>
      <%= f.label :body %><span class="required">*</span><br />
      <%= f.text_area :body, {:class => 'fullwidth'} %>
      <%= f.error_message_on :body %>
    <% end %>
  </div>
  
  <div class="omega six columns">

    <%= f.field_container :visible do %>
      <%= f.check_box :visible %>
      <%= f.label :visible %>
    <% end %>

    <hr />

    <%= f.field_container :meta_title do %>
      <%= f.label :meta_title %><br />
      <%= f.text_field :meta_title, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_title %>
    <% end %>

    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords %><br />
      <%= f.text_field :meta_keywords, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_keywords %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description %><br />
      <%= f.text_field :meta_description, :class => 'fullwidth title' %>
      <%= f.error_message_on :meta_description %>
    <% end %>
    
    <hr />

    <%= f.field_container :layout do %>
      <%= f.label :layout %><br />
      <%= f.text_field :layout, :class => 'fullwidth title' %><br />
      <span class="info">Override the default layout or template (see below).</span>
    <% end %>

    <%= f.field_container :render_layout_as_partial do %>
      <%= f.check_box :render_layout_as_partial %>
      <%= f.label :render_layout_as_partial %><br />
      <span class="info">Only override the <strong>main content</strong> section of the layout. The partial must exist in the <strong>views/spree/static_content</strong> directory.</span>
    <% end %>


    <hr />

    <%= f.field_container :menu_item_title do %>
      <%= f.label :menu_item_title %><br />
      <%= f.text_field :foreign_link, :class => 'fullwidth title' %><br />
      <span class="info">Leave blank to use the <strong>Title</strong> field as the menu item title.</span>
    <% end %>

    <%= f.field_container :foreign_link do %>
      <%= f.label :foreign_link, 'Link Override' %><br />
      <%= f.text_field :foreign_link, :class => 'fullwidth title' %><br />
      <span class="info">If set, this will exist as a menu item that links off to another site or internal page. The <strong>Body</strong> field will not be required.<br />External links must begin with 'http://' or 'https://'<br />Internal links should begin with '/'.</span>
    <% end %>

  </div>
</div>
